{% extends 'layout.html' %}
{% block head %}
{% endblock %}
<script src="https://kit.fontawesome.com/fde4ad70f7.js" crossorigin="anonymous"></script>
{% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


<h1>Contact US</h1><h6 style="opacity: 70%;">(for queries such as password recovery etc... )</h6>
<br>
Phone: <a href="tel:+9449267343">9449267343 &nbsp;<i class="fa fa-phone"></i> </a> <br><br>
Phone: <a href="tel:+7618752850">7618752850 &nbsp;<i class="fa fa-phone"></i> </a>



{% endblock %}