{% extends 'layout.html' %}

{% block body %}

<style>
  .footer{
    margin: 0;
    bottom: 0;
  }
  #stream{
      margin:1%;margin-right: 5%; border:3px solid rgb(177, 177, 177); border: radius 8px; float: right;
    }
  @media(max-width:768px){
    #stream{
      margin:1%; border:3px solid rgb(177, 177, 177); border: radius 8px; float: right;
    }
  }
</style>
<div class="container">
  <video id="stream" width="125px" height="125px" >
    <canvas id="capture">
    </canvas>
  </video>
</div>
<br><br><br><br><br>
<div style="position:absolute; padding: 0px 10%;" onselectstart="return false">
  <script type="text/javascript"> var answers = "{{answers}}";</script>
  <div id="time">{{duration}}</div>
  <table>
    <tr>
      <td id='queid'>Question No.</td>
      <td id='mark'>Marks: {{ marks }}</td>
    </tr>
  </table>
  <div class="prettyprint" id="pretest">
    <p id="que" style="">{{ q }}</p>
  </div>

  <table id="options">
    <tr>
      <td id='a'>𝐀. {{ a }}</td>
      <td id='b'>𝐁. {{ b }}</td>
    </tr>
    <tr>
      <td id='c'>𝐂. {{ c }}</td>
      <td id='d'>𝐃. {{ d }}</td>
    </tr>
  </table>
<style>
  .dod {
    width: 30%;
    margin:0.5%;
  }.dud {
    width: 30%;
    margin:0.5%;
  }.dude {
    width: 30%;
    margin:0.5%;
  }.ded {
    width: 30%;
    margin:0.5%;
  }
  @media(max-width:768px){
    .dod{
      margin: 1%; width: 30%;
    }
    .dud{
      margin: 1%; width: 30%;
    }
    .ded{
      margin: 1%; width: 100%;margin-top:8%;
    }
    .dude{
      margin: 1%; width: 47%;
    }
  }
</style>

<style>
  #overlay {
    z-index: 100;
    overflow: scroll;
  }
</style>

  <div id="overlay">
    <div class="container" id="question-list">
    </div>
  </div>
  <div id="submit-overlay"></div>

  <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <button class="btn btn-primary btn-rounded dud" id="questions" >Questions</button>
        <input type="button" value="&laquo; Prev" id="prev" class="btn btn-primary btn-rounded dod" style="background-color: #ddd;color: black; border: none;" >
        <input type="button" value="Next &raquo;" id="next" class="btn btn-primary btn-rounded dod" style="background-color: #ddd;color: black; border: none;" >
        <input type="button" value="Submit" id="submit" class="btn btn-success btn-rounded dude" >
        <button class="btn btn-primary btn-rounded dude" id="bookmark" style="background-color: #964B00;" >Bookmark</button>
        <div class="btn btn-success ded" id="finish"  style="background-color: #008657">Finish Test</div>
      </li>
    </ul>
  </div>
</div>



  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='disp.css') }}">
  <script type="text/javascript">
    $(document).ready(function () {
      $('body').bind('cut copy paste', function (event) {
        event.preventDefault();
      });
    });

    document.addEventListener('contextmenu', event => event.preventDefault());



    // element which needs to enter full-screen mode
    var element = document.querySelector("#container");

    // make the element go to full-screen mode
    element.requestFullscreen()
      .then(function () {
        // element has entered fullscreen mode successfully
      })
      .catch(function (error) {
        // element could not enter fullscreen mode
      });

  </script>


  <script>

    var stream = document.getElementById("stream");
    var capture = document.getElementById("capture");
    var cameraStream = null;
    var array = null;
    var values = 0;
    var length = null;

    function startStreaming() {

      var mediaSupport = 'mediaDevices' in navigator;
      navigator.getUserMedia = navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia;

      if (mediaSupport && null == cameraStream) {

        navigator.mediaDevices.getUserMedia({ video: {
            width: { min: 270, max: 270 },
            height: { min: 270, max: 270 },
          } })
          .then(function (mediaStream) {

            cameraStream = mediaStream;

            stream.srcObject = mediaStream;

            stream.play();
          })
          .catch(function (err) {

            console.log("Unable to access camera: " + err);
          });
      }
      else {

        alert('Your browser does not support media devices.');

        return;
      }
    }
    function stopStreaming() {

      if (null != cameraStream) {
        var track = cameraStream.getTracks()[0];
        track.stop();
        stream.load();
        cameraStream = null;
      }
    }
    function captureSnapshot() {
      var width = 320;
      var height = 320;
      if (null != cameraStream) {
        var ctx = capture.getContext('2d');
        var img = new Image();
        ctx.drawImage(stream, 0, 0, width, height);
        // img.src = capture.toDataURL("image/png");
        // img.width = 340;
        var d1 = capture.toDataURL("image/png");
        // var res = capture.toDataURL("image/webp");
        var res = d1.replace("data:image/png;base64,", "");
        // var res =res1.toDataURL();
        console.log(res)
        // var average = values / length;

        // console.log(average)
        // console.log(Math.round(average - 40));

        if (1) {
          $.post("/video_feed", {
            data: { 'imgData': res }
          },
            function (data) {
              console.log(data);
            });
        }

      }
      setTimeout(captureSnapshot, 9000);

    }

    window.onload = function () {
      startStreaming();
      captureSnapshot();
    }
  </script>
  {% endblock %}

